body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    margin-top: 20px;
}

.menu {
    background-color: #8b0000;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu h1 {
    color: #fff;
    font-size: 28px;
    margin: 20px 0;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px #000;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    background-color: #8b0000;
    border: 2px solid #fff;
    padding: 12px 24px;
    border-radius: 24px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

.container {
    background-color: #000;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 40px;
    max-width: 600px;
    width: 80%;
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.container h2 {
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

label {
    flex: 1;
    text-align: left;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

input {
    flex: 2;
    padding: 14px;
    border: 1px solid #8b0000;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    box-shadow: 2px 2px 4px #000;
} 

button {
    background-color: #8b0000;
    color: #fff;
    padding: 14px 28px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

#resultado {
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000;
}

.cuidados-container {
    background-color: #000;
    color: #fff;
    padding: 40px;
}

.cuidados h2 {
    font-size: 24px;
}

.cuidados ul {
    list-style: disc;
    margin: 10px 0;
    padding-left: 20px;
}

.cuidados ul li {
    font-size: 18px;
    margin-top: 10px;
}